<!DOCTYPE html>
<html lang="en" style="font-size: 40%">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/071dd41314.js"
      crossorigin="anonymous"
    ></script>
    <title>Competition Registration || Pladex</title>
  </head>
  <body
    style="
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.2;
      font-family: sans-serif;
      color: black;
      width: 100%;
    "
  >
    <div
      class="container"
      style="
        margin: 10px auto;
        width: 100%;
        padding-top: 30px;
        display: inline-block;
        color: black;
      "
    >
      <div
        class="writing"
        style="
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          column-gap: 20px;
          width: 100%;
        "
      >
        <div
          class="card"
          style="
            width: 100%;
            text-align: center;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            column-gap: 20px;
          "
        >
          <center>
            <div
              class="card-img"
              style="width: 100%; height: auto; display: inline-block"
            >
              <!-- <img src="./forgotPassword.svg" alt="" style="width: 100%" /> -->
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWLWJCQ8YI_EgmRkg8PX0Ft3js1XZG6AHrRA&usqp=CAU"
                alt=""
                width="200"
              />
            </div>
          </center>
          <div
            style="margin-top: 20px; margin-bottom: 0 !important; width: 100%"
          >
            <h2>Hey there!</h2>
          </div>
          <div class="text" style="text-align: center; width: 100%">
            <p style="margin-top: 0">
              You've successfully registered for
              <b>{{comp_reg}}</b> competitions.
            </p>
          </div>
        </div>
      </div>
      <div
        class="footer"
        style="
          padding-top: 14px;
          padding-bottom: 14px;
          margin-top: 50px;
          text-align: center;
          background-color: #31343c;
          color: white;
        "
      >
        <div class="footer-icons" style="color: white">
          <a
            href="https://www.facebook.com/Pladex-101638408977842"
            target="_blank"
            style="
              margin-left: 10px;
              margin-right: 10px;
              color: white;
              text-decoration: none;
            "
            ><img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Facebook-icon-1.png/640px-Facebook-icon-1.png"
              width="25"
              style="border-radius: 2px"
          /></a>
          <a
            href="https://www.instagram.com/pladex_official/"
            target="_blank"
            style="
              margin-left: 10px;
              margin-right: 10px;
              color: white;
              text-decoration: none;
            "
            ><img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1024px-Instagram_icon.png"
              width="25"
              style="border-radius: 10px"
          /></a>
          <a
            href="https://t.me/pladexians"
            target="_blank"
            style="
              margin-left: 10px;
              margin-right: 10px;
              color: white;
              text-decoration: none;
            "
            ><img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/1024px-Telegram_logo.svg.png"
              width="25"
              style="border-radius: 2px"
          /></a>
          <a
            href="https://www.youtube.com/c/PLADEXOfficial"
            target="_blank"
            style="
              margin-left: 10px;
              margin-right: 10px;
              color: white;
              text-decoration: none;
            "
            ><img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/2560px-YouTube_full-color_icon_%282017%29.svg.png"
              width="25"
              style="border-radius: 2px; margin-bottom: 3px"
          /></a>
          <a
            href="https://www.linkedin.com/company/pladex-official/"
            target="_blank"
            style="
              margin-left: 10px;
              margin-right: 10px;
              color: white;
              text-decoration: none;
            "
            ><img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/768px-LinkedIn_logo_initials.png"
              width="25"
              style="border-radius: 2px"
          /></a>
        </div>
        <br />
        pladexstudentscorner@gmail.com
      </div>
    </div>
  </body>
</html>
